Flask==3.1.0
flask_cors==5.0.1
Flask_JWT_Extended==4.7.1
Flask_SocketIO==5.5.1
gunicorn==23.0.0
openai==1.70.0
protobuf==6.30.2
pymongo==4.11.3
pyserial==3.5
python-dotenv==1.1.0
Requests==2.32.3
waitress==3.0.2
Werkzeug==3.1.3